body {
  background-color:#9266ff; ;
}

header {
  background-color: #3f3160;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 10px;
}


/* @media only screen and (min-width: 600px) {
  .container{ 
    margin: 0 auto;
    display: grid;
  }
  .row {
    grid-template-columns: repeat(3, 0fr);
  }
}
@media only screen and (min-width: 900px) {
  .container{ 
    margin: 0 auto;
    display: grid;
  }
  .row {
    grid-template-columns: repeat(2, 0fr);
  }
} */

#to-do-form input {
  background-color: rgb(27,112,137);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: #ffff;
}

#to-do-form input::placeholder {
  color: (255,255,255,0.5);
  color: #ffff;
}
#to-do-form input :focus, #to-do-form button:focus {
  outline: none;
}
#to-do-form button {
  height: 50px;
  width: 80px;
   padding: 0 20px;
  margin: 20px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(202,156,24);
  cursor: pointer;
  font-weight: bolder;
  color: #ffff;
}
button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  padding: 0 20px;
  margin: 20px;
  border: 0;
  background-color: rgb(202,156,24);
  cursor: pointer;
  font-weight: bolder;
  color: #ffff;
  align-items: baseline;
}
